* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

main {
  display: grid;
  place-items: center;
  height: 100%;
  background-color: #333;
}

.container {
  width: 1280px;
  height: 720px;
  position: absolute;
}

#video {
  width: 100%;
  border-radius: 10px;
}

#videoAudio{
  position: relative;
}

.controller {
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
  background-color: white;
  border-radius: 10px;

  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}

.bttn {
  width: 30px;
  margin: 0 5px;
  cursor: pointer;
}

.controllers{
  width: 12%;
}

.progress{
  width: 100%;
}

#progress{
  accent-color:black;
  width: 90%;
}

input[type="range"]{
  accent-color:black;
}

.controlVol{
  background-color: white;
  width: 150px;
  height: 50px;
  transform: rotate(270deg);
  position: absolute;
  left: 40px;
  bottom: 90px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-content: center;
}