* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

main {
  display: grid;
  place-items: center;
  height: 100%;
  background-color: #333;
}

.container {
  width: 1280px;
  height: 720px;
  position: absolute;
}

#video {
  width: 100%;
  border-radius: 10px;
}

.controller {
  transform: translateY(-130%);
  width: 550px;
  margin: auto;
  text-align: center;
}

.controllers{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 100%;
}

.hiddenControll img {
  width: 30px;
  transition: linear 0.3s;
  transform: rotate(0);
}

.hiddenControllers{
  width: 10px;
  display: none;

}

.hiddenControllers + .hiddenControll img{
  transition: linear 0.3s;
  transform: rotate(180deg) ;
}

.VolumeVideo {
  bottom: 100px;
  right: 515px;
  width: 100px;
  margin-right: 20px;
  display: none;
}

.VolumeVideoHidden{
  display: block;
  width: 100px;
}

.bttn {
  width: 30px;
  margin: 0 10px;
  cursor: pointer;
}
